<?xml version="1.0"?>

<configuration>
<location path="index.html">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-cache" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
    <system.webServer>
	<caching enabled="true" enableKernelCache="true">
         <profiles>
            <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
			<add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
			<add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
			<add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
			<add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
			<add extension=".otf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />

         </profiles>
      </caching>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
			<mimeMap fileExtension=".otf" mimeType="font/otf" />

        </staticContent>
    </system.webServer>
    <system.webServer>
	<security>
        <requestFiltering allowDoubleEscaping="true">
            <requestLimits maxAllowedContentLength="30000000" maxUrl="40960" maxQueryString="20480" />
        </requestFiltering>
    </security>
    <rewrite>
        <rules>
            <rule name="angular cli routes" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="/" />
            </rule>
        </rules>
    </rewrite>
  </system.webServer>
</configuration>
