<div class="header-container">
  <h1>Users you are following to!</h1>
  <p-divider type="dashed" class="divider"></p-divider>
</div>

<div class="user-container" *ngIf="followingUsers.length > 0; else noUsersFound">
  <div *ngFor="let user of followingUsers" class="user-card">
    <user-card [user]="user" [userId]="loggedInUser.id"
      [followingUsersIdArray]="followingUsersIdArray" [followedByUsersIdArray]="followedByUsersIdArray"
      (unfollowUserEventEmitter)="updateFollowingUserList($event)"></user-card>
  </div>
</div>

<div class="footer-container">
  <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
    [totalRecords]="followingUsers.length" [rowsPerPageOptions]="paginationOptions" />
</div>

<ng-template #noUsersFound>
  <h2 class="no-users-template">No users found.</h2>
</ng-template>
