<toast #toast></toast>

<div class="card">
  <div class="card-body" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div *ngIf="(signalRSerice.messageThread$ | async)?.length === 0">
      <h4>No messages yet... start chatting now</h4>
    </div>

    <ul *ngIf="(signalRSerice.messageThread$ | async)!.length > 0" class="chat">
      <li *ngFor="let message of (signalRSerice.messageThread$ | async)" class="chat-message">
        <div class="chat-message-container" [class.my-message]="message.senderUsername === loggedInUserName">
          <span class="chat-img">
            <img class="rounded-circle-img" src="{{ message.senderPhotoUrl }}" alt="image of user" />
          </span>
          <div class="chat-body">
            <div class="header">
              <small class="text-muted">
                <span class="pi pi-clock icon-text"></span> {{ message.messageSent | timeAgo }}
                <span class="text-danger" *ngIf="!message.dateRead && message.senderUsername !== userName"> (unread)</span>
                <span class="text-success" *ngIf="message.dateRead && message.senderUsername !== userName"> (read {{ message.dateRead | timeAgo }})</span>
              </small>
            </div>
            <p class="message-text">{{ message.content }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="sendMessage()">
      <div class="input-group">
        <input name="messageContent" class="input-width" required type="text" pInputText [(ngModel)]="messageContent" placeholder="Send a private message">
        <div class="input-group-append">
          <p-button [disabled]="messageForm.invalid || isLoading" class="btn btn-primary" type="submit">
            {{ isLoading ? '' : 'Send' }}
            <i *ngIf="isLoading" class="pi pi-spin pi-spinner"></i>
          </p-button>
        </div>
      </div>
    </form>
  </div>
</div>
