<toast #toast></toast>

<div class="card" *ngIf="user">
  <div class="card-img-wrapper">
    <img [src]="imgSrc" alt="{{ user.userName }}" class="card-img-top">
    <ul class="list-inline user-icons animate">
      <li class="list-inline-item">
        <p-button routerLink="/profile/{{ user.userName }}" icon="pi pi-user" pTooltip="View Profile" tooltipPosition="bottom"></p-button>
      </li>
      <li class="list-inline-item" *ngIf="!isUserFollowed(user)">
        <p-button (click)="followUser(user)" icon="pi pi-plus" pTooltip="Follow" tooltipPosition="bottom"></p-button>
      </li>

      <li class="list-inline-item" *ngIf="isUserFollowed(user)">
        <p-button (click)="unFollowUser(user)" icon="pi pi-minus" pTooltip="Unfollow" tooltipPosition="bottom"></p-button>
      </li>
      <li class="list-inline-item">
        <p-button routerLink="/profile/{{ user.userName }}" [queryParams]="{ tab: 'Messages' }" icon="pi pi-envelope" pTooltip="Message"
          tooltipPosition="bottom"></p-button>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h6 class="card-title">
      <span class="user-icon" [class.is-online]="(presenceService.onlineUsers$ | async)?.includes(user.userName)"
        pTooltip="{{ (presenceService.onlineUsers$ | async)?.includes(user.userName) ? 'Online' : 'Offline' }}" tooltipPosition="bottom">
        <i class="pi pi-user"></i>
      </span>
      {{ user.userName }}, {{ user.age }}
    </h6>
    <p class="card-desc">{{ user.city }}</p>
  </div>
</div>
