<nav class="navbar-container">
  <div class="container">
    <div class="navbar-app">
      <a routerLink="/" routerLinkActive="active"><strong>Social Sphere</strong></a>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/find" routerLinkActive="active">Find People</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/followers" routerLinkActive="active">Followers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/following" routerLinkActive="active">Following</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/chat" routerLinkActive="active">Chat</a>
      </li>
      <!-- <li *appHasRole="['Admin']" class="nav-item">
        <a class="nav-link" routerLink="/admin" routerLinkActive="active">Manage</a>
      </li> -->
    </ul>
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
    <p-menubar [model]="menuItems"></p-menubar>
  </div>
</nav>
