.main-container {
  display: flex;
  height: 800px;
  width: 1750px;
  width: 100%;
}

.user-profile-container {
  background-color: beige;
  width: 100%;
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 5%;
  margin: 2rem;
}

.edit-profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 3rem;
  margin: 2rem;
}

.edit-heading {
  padding: 3rem 3rem 0 0;
}

:host ::ng-deep .p-image-preview-container > img {
  border-radius: 50%;
}

:host ::ng-deep .p-tabview .p-tabview-nav {
  border-width:  0 0 3px 0;
}

:host ::ng-deep .p-image-preview-container:hover>.p-image-preview-indicator {
  border-radius: 50%;
}
