<toast #toast></toast>
<div class="main-container">
  <div class="user-profile-container">
    <h1>{{ getUserName() }}</h1>
    <div>
      <p-image [src]="imgSrc" alt="profile-picture" class="user-image" [preview]="true" width="200" height="200"/>
    </div>
    <p-fileUpload #fileUpload name="file" class="upload-new-pic" mode="basic" accept="image/*" [maxFileSize]=1000000 [customUpload]="true" [auto]="true"
      chooseLabel="Upload new photo" [disabled]="this.userDetails?.id === undefined" (uploadHandler)="onProfilePictureUpload($event, fileUpload)" />
    <p *ngIf="this.userDetails?.createdAt">
      Member since: <strong>{{ this.userDetails?.createdAt | date : "d MMMM, y" }}</strong>
    </p>
  </div>
  <div class="edit-profile-container">
    <h1 class="edit-heading">Edit Profile</h1>
    <p-tabView>
      <p-tabPanel header="User info">
        <div class="form-container">
          <form [formGroup]="userDetailsForm">
            <div class="card flex justify-content-center">
              <div class="flex flex-column gap-2">
                <label for="userName">User Name</label>
                <input type="text" id="userName" pInputText formControlName="userName" />
              </div>

              <div class="flex flex-column gap-2">
                <label for="dateOfBirth">Date of Birth</label>
                <p-calendar id="dateOfBirth" formControlName="dateOfBirth" dateFormat="dd/mm/yy" [showIcon]="true"
                  [showButtonBar]="true" placeholder="Select a date"></p-calendar>
              </div>

              <div class="flex flex-column gap-2">
                <label for="gender">Gender</label>
                <p-dropdown [options]="genderList" id="gender" formControlName="gender" [showClear]="true"
                  placeholder="Select"></p-dropdown>
              </div>

              <div class="flex flex-column gap-2">
                <label for="bio">Bio</label>
                <textarea id="bio" rows="4" cols="30" pInputTextarea formControlName="bio"></textarea>
              </div>

              <div class="flex flex-column gap-2">
                <label for="interests">Interests</label>
                <input type="text" id="interests" pInputText formControlName="interests" />
              </div>

              <div class="flex flex-column gap-2">
                <label for="city">City</label>
                <input type="text" id="city" pInputText formControlName="city" />
              </div>

              <div class="flex flex-column gap-2">
                <label for="country">Country</label>
                <input type="text" id="country" pInputText formControlName="country" />
              </div>
            </div>
            <p-button label="Update Info" [disabled]="userDetailsForm.invalid" (onClick)="onSubmit()" />
          </form>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Edit Photos">
        <div class="file-upload-container">
          <h2>Add Photos</h2>
          <p-fileUpload #fileUploadEditView name="file" class="upload-new-pic" mode="basic" accept="image/*" [maxFileSize]=1000000 [customUpload]="true"
            [auto]="true" chooseIcon="pi pi-upload" [disabled]="this.userDetails?.id === undefined" (uploadHandler)="onUploadPhoto($event, fileUploadEditView)" />
        </div>
        <div class="profile-pictures-container">
          <div class="image-card" *ngFor="let photo of userDetails?.photos">
            <p-image src="{{ photo.url }}" alt="user-photo" class="img-thumbnail" [preview]="true" width="250" height="250" />
            <div class="delete-image-icon">
                <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" (click)="onPhotoDelete(photo)" />
            </div>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
